/* _RecipeDashboard.module.css */

.filterMenuContainer {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  border-bottom: 1px solid #835352;
}

.filterItem {
  width: 100%;
}

.recipeCardList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recipeCard {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
}

.imageContainer {
  position: relative;
  width: 100%;
  min-width: 20rem;
  max-height: fit-content;
  aspect-ratio: 1;
  img {
    border-radius: 15px;
  }
}

.imagePlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.recipeImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipeDetails {
  padding: 16px;
}

.recipeTitle {
  font-size: 2.25rem;
  font-weight: bold;
}

.recipeSummary {
  margin: 8px 0;
  color: #666;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.selectButton {
  padding: 8px 16px;
  background-color: #835352;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.selectButton:hover {
  background-color: #388e3c;
}

.bookmarkButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #757575;
  display: flex;
}

.bookmarkButton:hover {
  color: #424242;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  max-height: calc(100%);
  background-color: white;
}

.filterMenuContainerInDashboard {
  position: sticky;
  top: 16px; /* Adjust this value to control the sticky position */
  align-self: flex-start; /* Ensure the filter menu aligns properly */
  z-index: 10; /* To ensure it stays above other elements */
  width: 100%;

  position: relative;

  .searchIcon {
    position: absolute;
    top: 0;
    right: 16px;

    z-index: 1000000;
    border-radius: 50%;
    aspect-ratio: 1;

    background-color: lightgrey;
  }
}

.recipeListContainer {
  padding-top: 16px;
  overflow-y: auto;
  height: 100%;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .recipeCard {
    flex-direction: column;
    margin: 8px;
  }

  .imageContainer {
    min-width: 100%;
    aspect-ratio: 1;
    img {
      border-radius: 8px;
    }
  }
  .recipeDetails {
    padding: 8px;
  }

  .recipeTitle {
    font-size: 1.5rem;
  }

  .actions {
    padding: 8px;
  }

  .selectButton {
    font-size: 12px;
  }

  .bookmarkButton {
    font-size: 1.5rem;
  }
}