.bookmarkContainer{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    background: beige;
}

.headerContent{
    border-bottom: 2.5px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    background-color: grey;
    padding-left:20px;

    .headerText{
        font-size: 2vh;
        font-weight: bold;
        color:darkred;
    }
}

.buttonContent {
    display: flex;
    justify-content: flex-end; 
    padding: 7px 25px; 
    align-items: center;
  }
  
  .buttonContainer {
    background-color:cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
  }
  
  .buttonContainer:hover {
    background-color: black;
  }

  .titleContent{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top: 10px;
    margin-bottom: 25px;

    .titleText{
        font-size:2.5vh;
        font-weight:bold;
        color:black;
        text-align:center;
    }
}

.body{
    width: 90%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 2px solid lightgray;
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
}

.bodyContent{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items:center;
    background-color: white;
    gap: 15px;

    .container{
        width:80%;
        background-color:aliceblue;
        border:1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
}
.recipeCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 0 auto; 
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 90%; 
    max-width: 800px; 
  }
  
  .recipeImage {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .recipeDetails {
    flex-grow: 1;
    margin-left: 16px;
    color: #574d68;
  }
  
  .recipeTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 4px;
    color: #f5b1a4;
  }
  
  .recipeSummary {
    font-size: 14px;
    color: #757575;
    margin: 0;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
  
  .selectButton {
    padding: 8px 16px;
    background-color: #835352;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .selectButton:hover {
    background-color: #388e3c;
  }
  
  .bookmarkButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #757575;
  }
  
  .bookmarkButton:hover {
    color: #424242;
  }
  


  