.dashboardContent {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.headerContent {
    border-bottom: 5px solid black;

    .headerText {
        font-size: 5vh;
        font-weight: bold;

        padding: 0;
        margin: 0;

        color: darkred
    }

    padding: 1em;
}

.body {
    width: 100%;
    height: calc(100% - 100px);
    
    display: flex;
    flex-direction: row;

    .recipeDashboardContainer {
        height: 100%;
        width: 60%;

        border-right: 5px solid darkgray;
    }

    .rightContainer {
        height: 100%;
        width: 40%;

        display: flex;
        flex-direction: column;        
    }

    .animatedCharacterContainer {
        height: calc(50% - 43px);

        border-bottom: 5px solid darkgray;
    }
}

.modalContent{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    .contentContainer {
        position:relative;
        height: 75vh;
        width: 75vw;
    }
}

.closeButton{
    position:absolute;
    top: 0;
    right: 0;

    z-index: 1000000;

    transform: translateY(-100%);

    .buttonText {
        color: white;
    }
}